.auth__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
  }

.auth-login__input,
.auth-pass__input {
    margin: 0 40rem 10px 40rem;
    padding: 0 0 0 10px;
    height: 30px;
    border: 2px solid #bbbbbb;
    border-radius: 5px;
  }

  .auth__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 40rem;
  }
  
  .auth__button:hover {
    cursor: pointer;
    background-color: #305f8c;
  }

.auth-login__input::placeholder,
.auth-pass__input::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #afafaf;
  }