.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 150px;
    background-color: #3C75AC;
  }
  
  .header__logo {
    width: 120px;
  }
  
  .header__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
  }