.main__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
  }
  
  .main__error-message {
    font-size: 13px;
    color: red;
    margin-bottom: 10px;
  }
  
  .main__input {
    margin: 0 40rem;
    padding: 0 0 0 10px;
    height: 30px;
    border: 2px solid #bbbbbb;
    border-radius: 5px;
  }
  
  .main__input_error {
    border: 2px solid red;
  }
  
  .main__input::placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #afafaf;
  }
  
  .main__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 40rem;
}
  
  .main__button:hover {
    cursor: pointer;
    background-color: #305f8c;
  }

