/* import reset file  */

@import url('./reset.css');

body {
    font-family: 'Open Sans', sans-serif;
  }

td,
th {
  border: 1px solid black;
  padding: 20px 50px;
}




/* import component styles */

@import url('./header.css');
@import url('./main.css');
@import url('./table.css');
@import url('./back-comp.css');
@import url('./loading-comp.css');