body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 150px;
  background-color: #3C75AC;
}

.header__logo {
  width: 120px;
}

.header__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}

.main__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  text-align: center;
}

.main__error-message {
  font-size: 10px;
  color: red;
}

.main__input {
  margin: 0 40rem;
  padding: 0 0 0 10px;
  height: 30px;
  border: 2px solid #bbbbbb;
  border-radius: 5px;
}

.main__input_error {
  border: 2px solid red;
}

.main__input::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: #afafaf;
}

.main__button,
.back__button {
  margin: 1rem 40rem;
  height: 30px;
  background-color: #3C75AC;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  transition: .5s;
}

.back__button {
  width: 100px;
}

.main__button:hover,
.back__button:hover {
  cursor: pointer;
  background-color: #305f8c;
}

.results__table {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 20px 50px;
}

.back {
  display: flex;
  justify-content: center;
}

.loading,
.invalid-user {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

