body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 150px;
  background-color: #3C75AC;
}

.header__logo {
  width: 120px;
}

.header__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}

.main__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px; 
}

.main__input {
  margin: 0 40rem;
  padding: 0 0 0 10px;
  height: 30px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}

.main__input:focus {
  border: 1px solid #3e3e3e;
}

.main__input::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: #afafaf;
}

.main__button {
  margin: 1rem 40rem;
  height: 30px;
  background-color: #3C75AC;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  transition: .5s;
}

.main__button:hover {
  cursor: pointer;
  background-color: #305f8c;
}

