.login {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    padding-bottom: 2px;
}

.login:hover {
    background-size: 100% 2px;
}